<h1 class="shadow text-center" mat-dialog-title>Add Multiple Employees</h1>
<div class="text-right my-2">
  <a class="btn btn-primary btn-sm" [href]="downloadFormat()">
    Download Format
  </a>
</div>


<mat-dialog-content>
  <form [formGroup]="multipleEnqForm">
    <div class="container">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="legacy">
            <mat-label>Choose College</mat-label>
            <mat-select [(ngModel)]="collegeId" [ngModelOptions]="{standalone:true}">
              <mat-option value="">All</mat-option>
              <mat-option *ngFor="let i of collegeList" [value]="i._id">
                {{i?.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col ">
          <mat-label>Upload File</mat-label> &nbsp; &nbsp;
          <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
          <input hidden (change)="uploadFile($event)" #fileInput type="file" id="file"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
          upload .xlsx file
          <br>{{fileName}}
        </div>
      </div>
    </div>
    <mat-dialog-actions align="center">
      <button mat-raised-button color="primary" (click)="submit()" tabindex="1">
        Add Sheet
      </button>
      <button mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>