<h1 class="shadow text-center" mat-dialog-title>Certificate</h1>

<mat-dialog-content>
    <form [formGroup]="certificateForm">
        <div class="container">
            <div class="row">
                <div class="col">
                    <b>Courses</b>
                    <ul>
                        <li *ngFor="let i of admissonData?.technologies">{{i?.course?.name}}</li>
                    </ul>
                </div>
                <div class="col">
                    <b>Admssion Date</b><br>
                    {{admissonData?.admissionDate | date}}
                </div>
                <div class="col">
                  <mat-radio-group aria-label="Receipt Type" formControlName="company" class="d-flex pt-4">
                    <mat-radio-button id="receipt-computerized" [value]="0">O7 Services</mat-radio-button>&nbsp;&nbsp;
                    <mat-radio-button id="receipt-manual" [value]="1">O7 Solutions</mat-radio-button>
                  </mat-radio-group>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <mat-form-field appearance="legacy">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="name" formControlName="name" />
                        <mat-error *ngIf="certificateForm.get('name')?.hasError('required')">
                            Please enter name.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field appearance="legacy">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email" />
                        <mat-error *ngIf="certificateForm.get('email')?.hasError('required')">
                            Please enter email.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field appearance="legacy">
                        <mat-label>Course name</mat-label>
                        <input matInput placeholder="Course name" formControlName="coursename" />
                        <mat-error *ngIf="certificateForm.get('coursename')?.hasError('required')">
                            Please enter course name.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col mt-1">
                    <mat-form-field appearance="legacy">
                        <mat-label>Choose Training</mat-label>
                        <mat-select (selectionChange)="createRefNo($event)">
                            <mat-option value="6W">6 weeks</mat-option>
                            <mat-option value="6M">6 months</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field appearance="legacy">
                        <mat-label>Course Start</mat-label>
                        <input matInput placeholder="Start" formControlName="start" />
                        <mat-error *ngIf="certificateForm.get('start')?.hasError('required')">
                            Please enter course start month and year.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="legacy">
                        <mat-label>Course End</mat-label>
                        <input matInput placeholder="End" formControlName="end" />
                        <mat-error *ngIf="certificateForm.get('end')?.hasError('required')">
                            Please enter course start month and year.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="legacy">
                        <mat-label>Given By</mat-label>
                        <mat-select formControlName="givenBy">
                          <mat-option *ngFor="let i of employeeList" [value]="i._id">
                            {{i?.name}} - {{i?.email}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field appearance="legacy">
                        <mat-label>Collected By</mat-label>
                        <input matInput placeholder="collectedBy" formControlName="collectedBy" />
                        <mat-error *ngIf="certificateForm.get('collectedBy')?.hasError('required')">
                            Please enter collectedBy.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="legacy">
                        <mat-label>Comments</mat-label>
                        <input matInput placeholder="comments" formControlName="comments" />
                        <mat-error *ngIf="certificateForm.get('comments')?.hasError('required')">
                            Please enter comments.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <mat-dialog-actions align="center">
            <button mat-raised-button color="primary" [disabled]="certificateForm.invalid" (click)="submit()" tabindex="1">
                Certificate
            </button>
            <button mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>

            <!-- <button mat-raised-button mat-dialog-close tabindex="-1" (click)="submitforCertificate()" class="btn btn-danger">Test</button> -->
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
