<!-- PAGE-HEADER -->
<div class="page-header">
    <h4 class="page-title">Change Course & Fee</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/admin/home']">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/admin/admission/view', id]">Admission</a></li>
        <li class="breadcrumb-item active" aria-current="page">Change Course & Fee</li>
    </ol>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 -->
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h3 class="card-title">Course List</h3>
            </div>
            <!-- course List -->

                <div>
                    <table mat-table [dataSource]="dataSource" class="table card-table table-vcenter mat-elevation-z8">
                        <!-- AutoId Column -->
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef>Sr. No</th>
                            <td mat-cell *matCellDef="let row; let i = index">{{ i+1 }}</td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Course</th>
                            <td mat-cell *matCellDef="let row; let i = index" style="width:200px; padding-right:20px">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Choose Course</mat-label>
                                    <mat-select [(ngModel)]="row.course" (selectionChange)="changeCourse(row.course, i)">
                                        <mat-option *ngFor="let i of courseList" [value]="i._id">
                                            {{i?.name}} - <span *ngIf="i?.courseType==1">Single</span><span *ngIf="i?.courseType==2">Combo</span>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>


                        <!-- Fee Column -->
                        <ng-container matColumnDef="fee">
                            <th mat-header-cell *matHeaderCellDef>Course Fee</th>
                            <td mat-cell *matCellDef="let row">{{ row?.fee | currency:"INR" }}</td>
                        </ng-container>

                        <!-- Minimum Registraion fee Column -->
                        <ng-container matColumnDef="minimumRegistrationFee">
                            <th mat-header-cell *matHeaderCellDef>Minimum Registration</th>
                            <td mat-cell *matCellDef="let row">{{ row?.minimumRegistrationFee | currency:"INR"}}</td>
                        </ng-container>

                        <!-- Duration Column -->
                        <ng-container matColumnDef="discount">
                            <th mat-header-cell *matHeaderCellDef>Course Discount</th>
                            <td mat-cell *matCellDef="let row">{{ row?.discount | currency:"INR"}}</td>
                        </ng-container>

                        <!-- Installments Column -->
                        <!-- <ng-container matColumnDef="installments">
                            <th mat-header-cell *matHeaderCellDef>Installments</th>
                            <td mat-cell *matCellDef="let row">{{ row?.installments }}</td>
                        </ng-container> -->


                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Action
                                <button class="btn btn-primary btn-sm mx-1" (click)="addCourse()">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </th>
                            <td mat-cell *matCellDef="let row; let i = index">
                               <button class="btn btn-primary btn-sm mx-1" (click)="deleteCourse(i)">
                                <mat-icon>delete</mat-icon>
                               </button>
                               <button class="btn btn-primary btn-sm mx-1" (click)="refresh(i)">
                                <mat-icon>refresh</mat-icon>
                               </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell text-center" colspan="12">
                                <strong>No data</strong>
                            </td>
                        </tr>
                    </table>
                </div>
            <!-- calculate form -->
                <div class="mt-4 p-3">
                    <form [formGroup]="changeCourseForm">

                        <div class="row">
                            <div class="col-md-4">
                                <section class="example-section">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Total Fee Applicable</mat-label>
                                        <input matInput placeholder="Fee Applicable" formControlName="totalFeesApplicable" />
                                    </mat-form-field>
                                </section>
                            </div>
                            <div class="col-md-4">
                                <section class="example-section">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Discount</mat-label>
                                        <input matInput placeholder="Discount" formControlName="discount" (blur)="calculate()" />
                                        <mat-error *ngIf="changeCourseForm.get('discount')?.hasError('required')">
                                            Please enter discount.
                                        </mat-error>
                                    </mat-form-field>
                                </section>
                            </div>
                            <div class="col-md-4">
                                <section class="example-section">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Total Fee To Be Paid</mat-label>
                                        <input matInput placeholder="Total Fee To Be Paid" formControlName="totalFeeToBePaid" readonly />
                                        <mat-error *ngIf="changeCourseForm.get('totalFeeApplicable')?.hasError('required')">
                                            Please enter totalFeeApplicable.
                                        </mat-error>
                                    </mat-form-field>
                                </section>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <section class="example-section">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Total Registration Fee</mat-label>
                                        <input matInput placeholder="Total Registration Fee"
                                            formControlName="registrationFeePayable" readonly />
                                        <mat-error
                                            *ngIf="changeCourseForm.get('registrationFeePayable')?.hasError('required')">
                                            Please enter total Registration Fee.
                                        </mat-error>
                                    </mat-form-field>
                                </section>
                            </div>
                            <div class="col-md-4">
                                <section class="example-section">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Registration Fee Paid</mat-label>
                                        <input matInput placeholder="Registration Fee Paid"
                                            formControlName="registrationFeePaid" readonly/>
                                        <mat-error
                                            *ngIf="changeCourseForm.get('registrationFeePaid')?.hasError('required')">
                                            Please enter Registration Fee Paid.
                                        </mat-error>
                                    </mat-form-field>
                                </section>
                            </div>
                            <div class="col-md-4">
                                <section class="example-section">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Registration Fee Pending</mat-label>
                                        <input matInput placeholder="Registration Fee Pending"
                                            formControlName="registrationFeePending"  readonly/>
                                        <mat-error
                                            *ngIf="changeCourseForm.get('registrationFeePending')?.hasError('required')">
                                            Please enter Registration Fee Pending.
                                        </mat-error>
                                    </mat-form-field>
                                </section>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <section class="example-section">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Total Fee Paid</mat-label>
                                        <input type="number" matInput placeholder="Total Fee Paid"
                                            formControlName="totalFeePaid" readonly />
                                        <mat-error *ngIf="changeCourseForm.get('totalFeePaid')?.hasError('required')">
                                            Please enter total Fee Paid.
                                        </mat-error>
                                    </mat-form-field>
                                </section>
                            </div>
                            <div class="col-md-4">
                                <section class="example-section">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Total Balance</mat-label>
                                        <input type="number" matInput placeholder="Total Balance"
                                            formControlName="totalBalance" readonly />
                                        <mat-error *ngIf="changeCourseForm.get('totalBalance')?.hasError('required')">
                                            Please enter total Balance.
                                        </mat-error>
                                    </mat-form-field>
                                </section>
                            </div>
                            <div class="col-md-4">
                                <section class="example-section">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Total Installments</mat-label>
                                        <input type="number" matInput placeholder="Total Installments"
                                            formControlName="totalInstallments" [min]="feeData?.nextInstallment" />
                                        <mat-error *ngIf="changeCourseForm.get('totalInstallments')?.hasError('required')">
                                            Please enter total Installments.
                                        </mat-error>
                                    </mat-form-field>
                                </section>
                            </div>
                        </div>

                        <div class="row" *ngIf="changeCourseForm.value.extra!=0">
                            <div class="col-md-4">
                                <section class="example-section">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Extra Amounts</mat-label>
                                        <input type="number" matInput placeholder="Total Balance"
                                            formControlName="extra" readonly />
                                    </mat-form-field>
                                </section>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary d-block m-auto" (click)="checkToCalculateInstallments()" tabindex="1">
                            Calculate Installments
                        </button>

                        <div class="mt-2" formArrayName="installments">
                            <div class="" *ngFor="let i of installments.controls; let index = index"
                                [formGroupName]="index">

                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Installment Number</mat-label>
                                            <input matInput placeholder="Installment Count" formControlName="installmentNo"
                                                readonly />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Amount</mat-label>
                                            <input matInput placeholder="Amount" formControlName="amountToBePaid" />
                                            <mat-error *ngIf="changeCourseForm.get('amountToBePaid')?.hasError('required')">
                                                Please enter Amount.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Installment Paid</mat-label>
                                            <input matInput placeholder="Installment paid" formControlName="paidAmount" readonly />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 d-flex">
                                      <label> Pay Month</label>
                                      <select formControlName="installmentMonth" class="form-control">
                                        <ng-container *ngFor="let i of monthArray">
                                            <option [value]="i?.monthIndex">{{i?.monthName}}</option>
                                        </ng-container>
                                      </select>
                                </div>
                                </div>
                            </div>
                        </div>



                        <button class="btn btn-primary d-block m-auto" *ngIf="showSave" (click)="submit()" tabindex="1">
                            Save
                        </button>
                    </form>
                </div>

            <!-- fee detail -->
            <!-- <div class="mt-4 p-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="bg-primary" style="color: white !important;height:50px;" colspan="6">
                  Fee Detail
                  <button mat-raised-button color="secondary" matBadge="8" matBadgePosition="before"
                    matBadgeColor="accent" *ngIf="enquiryData?.isOfficialTraining">
                    Start From : {{feeData?.courseStartDate | date}}
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="19%">Total Fee Applicable</td>
                <td width="14%">{{feeData?.totalFeesApplicable | currency :"INR"}}</td>
                <td width="19%">Discount</td>
                <td width="14%">{{feeData?.discount | currency :"INR"}}</td>
                <td width="19%">Total Fee to be paid</td>
                <td width="14%"><b>{{feeData?.totalFeeToBePaid | currency :"INR"}}</b></td>
              </tr>
              <tr>
                <td>Total Registration</td>
                <td><b>{{feeData?.registrationFeePayable | currency :"INR"}}</b></td>
                <td>Registration Paid</td>
                <td>{{feeData?.registrationFeePaid | currency :"INR"}}</td>
                <td>Pending Registration</td>
                <td>{{feeData?.pendingRegistrationFee | currency :"INR"}}</td>
              </tr>
              <tr *ngFor="let i of feeData?.installments; let index= index">
                <td>Installment</td>
                <td>{{index+1}}</td>
                <td>Month</td>
                <td>{{i?.month}}</td>
                <td>Amount</td>
                <td><b>{{i?.amountToBePaid | currency :"INR"}}</b></td>
              </tr>

            </tbody>

          </table>
        </div> -->
        </div>
    </div>
