<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="legacy">
                <mat-label>Existing Password</mat-label>
                <input type="password" [(ngModel)]="data.oldPassword" matInput placeholder="Existing Password">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="legacy">
                <mat-label>New Password</mat-label>
                <input type="password" [(ngModel)]="data.newPassword" matInput placeholder="New Password">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="legacy">
                <mat-label>Confirm Passowrd</mat-label>
                <input type="password" (keyup)="matchPassword($event)" [(ngModel)]="confirmPassword" matInput placeholder="New Password">
                <small class="text-danger" *ngIf="error">Password and Confirm Password doesn't match.</small>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click) = "save()" mat-raised-button color="primary"
        [disabled]="data.oldPassword == '' || data.newPassword == '' || confirmPassword == '' || !passwordMatched">Update</button>
</mat-dialog-actions>