
<!-- PAGE-HEADER -->
<div class="page-header">
    <h4 class="page-title">{{ type }} Admission</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/admin/home']">Home</a></li>
        <li class="breadcrumb-item">
            <a [routerLink]="['/admin/admissions']">Admission</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ type }} Admission
        </li>
    </ol>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 -->
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <h3 class="card-title">{{ type }} Admission</h3>
                </div>

                <div class="row">
                    <button class="btn btn-primary btn-sm mr-2" [routerLink]="['/admin/admissions']">
                        Admission List
                    </button>
                </div>
            </div>
            <div class="mt-4 p-3">
                <form [formGroup]="admissionForm">
                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <section class="example-section py-3">
                                <mat-checkbox class="example-margin" formControlName="isNewStudent">New
                                    Student</mat-checkbox>
                            </section>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <ng-select formControlName="studentId" (change)="selectStudent($event)"
                                    [readonly]="!!admissionForm.value.isNewStudent">
                                    <ng-option value="">Choose Student</ng-option>
                                    <ng-option *ngFor="let i of studentList" [value]="i._id">
                                        {{i?.studentName}} {{i?.email}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-md-4 mt-3">
                            <mat-form-field appearance="legacy">
                                <mat-label>Student Name</mat-label>
                                <input matInput placeholder="Student name" formControlName="studentName" />
                                <mat-error *ngIf="admissionForm.get('collegeCourse')?.hasError('required')">
                                    Please enter Student Name.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="legacy">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" formControlName="email" />
                                <mat-error *ngIf="admissionForm.get('email')?.hasError('required')">
                                    Please enter Email.
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="legacy">
                                <mat-label>Personal Contact</mat-label>
                                <input type="number" matInput placeholder="Phone" formControlName="personalContact" />
                                <mat-error
                                    *ngIf=" admissionForm.get('personalContact')?.hasError('required') || admissionForm.get('personalContact')?.hasError('personalContact')" >
                                    Please enter valid Contact No.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="legacy">
                                <mat-label>Parent's Contact</mat-label>
                                <input type="number" matInput placeholder="Parent's Contact"
                                    formControlName="parentsContact" />
                                <mat-error *ngIf="admissionForm.get('parentsContact')?.hasError('required')">
                                    Please enter parent's Contact.
                                </mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 mt-2">
                            <section class="example-section">
                                <mat-checkbox class="example-margin" formControlName="isOfficialTraining">Official
                                    Training</mat-checkbox>
                            </section>
                        </div>
                        <div class="col-md-4 mt-2">
                            <section class="example-section">
                                <mat-checkbox class="example-margin" formControlName="isPassout"
                                    [disabled]="!!admissionForm.value.isOfficialTraining">Passout
                                    Student</mat-checkbox>
                            </section>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <div class="w-100 pr-2">
                                <ng-select formControlName="college">
                                    <ng-option value="">Choose College</ng-option>
                                    <ng-option *ngFor="let i of collegeList" [value]="i._id">
                                        {{i?.name}}
                                    </ng-option>
                                </ng-select>
                            </div>


                            <button class="btn btn-primary btn-sm mr-2" (click)="openDialog('')">
                                +
                            </button>
                            <!-- <mat-form-field appearance="legacy">
                                <mat-label>Choose College</mat-label>
                                <mat-select formControlName="college">
                                    <mat-option *ngFor="let i of collegeList" [value]="i._id">
                                        {{i?.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                        </div>
                        <div class="col-md-4" *ngIf="admissionForm.value.isOfficialTraining">
                            <mat-form-field appearance="legacy">
                                <mat-label>Choose Training</mat-label>
                                <mat-select formControlName="trainingType">
                                    <mat-option value="6 weeks">6 weeks</mat-option>
                                    <mat-option value="6 months">6 months</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <!-- <mat-form-field appearance="legacy">
                                <mat-label>College Course</mat-label>
                                <input type="text" matInput placeholder="College Course"
                                    formControlName="collegeCourse" />
                                <mat-error *ngIf="admissionForm.get('collegeCourse')?.hasError('required')">
                                    Please enter college Course.
                                </mat-error>
                            </mat-form-field> -->
                              <div class="w-100 pr-2">
                                  <ng-select formControlName="collegeCourse" placeholder="College Course">
                                      <ng-option value="" selected disabled>Choose</ng-option>
                                      <ng-option *ngFor="let i of collegeCourseList" [value]="i.name">
                                          {{i?.name}}
                                      </ng-option>
                                  </ng-select>
                              </div>
                              <button class="btn btn-primary btn-sm mr-2" (click)="openDialog('CollegeCourse')">
                                  +
                              </button>
                        </div>
                        <div class="col-md-4" *ngIf="!admissionForm.value.isPassout">
                            <mat-form-field appearance="legacy">
                                <mat-label>Semester</mat-label>
                                <input matInput placeholder="Semester" formControlName="semester" type="number"/>
                                <mat-error *ngIf="admissionForm.get('semester')?.hasError('required')">
                                    Please enter Semester.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="d-flex col-md-4 align-items-center">
                            <mat-label>Choose Course Type</mat-label> &nbsp; &nbsp;
                            <mat-radio-group aria-label="Select Course Type" formControlName="courseType"
                                aria-labelledby="example-radio-group-label" class="example-radio-group">
                                <mat-radio-button value="1">Single</mat-radio-button>
                                <mat-radio-button value="2">Combo</mat-radio-button>
                            </mat-radio-group>
                        </div> -->

                        <div class="col-md-4">
                            <!-- <mat-form-field appearance="legacy">
                                <mat-label>Management Person</mat-label>
                                <mat-select formControlName="managementPersonId">
                                    <mat-option *ngFor="let i of employeeList" [value]="i._id">
                                        {{i?.name}} - {{i?.email}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            <ng-select formControlName="managementPersonId">
                                <ng-option value="">Management Person</ng-option>
                                <ng-option *ngFor="let i of employeeList" [value]="i._id">
                                    {{i?.name}} - {{i?.email}}
                                </ng-option>
                            </ng-select>
                        </div>

                        <div class="col-md-4 mt-3">
                            <mat-form-field appearance="legacy">
                                <mat-label>Admission date</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="admissionDate">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>


                        <div class="col-md-4">
                          <ng-select formControlName="company">
                              <ng-option value="">Choose Company</ng-option>
                              <ng-option *ngFor="let company of companies" [value]="company">
                                {{ company }}
                              </ng-option>
                          </ng-select>
                      </div>

                        <div class="col-md-12 col-lg-12" *ngIf="type=='Add'">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between bg-primary"
                                    style="color:white">
                                    <h3>Add Course(s)</h3>

                                </div>

                                <div class="mt-2" formArrayName="technologies">
                                    <div class="px-5" *ngFor="let tech of technologies.controls; let index = index"
                                        [formGroupName]="index">
                                        <div class="text-right">
                                            <button type="button" class="btn btn-primary btn-sm mx-2"
                                                (click)="addTechnology($event)">
                                                +
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm mx-2"
                                                (click)="removeTechnology(index)">
                                                -
                                            </button>
                                            <mat-checkbox class="example-margin mt-4"
                                                (change)="freeCourse(index, $event)"
                                                [disabled]="checkFreeCourseDisabled(index)" *ngIf="index!=0">Free
                                                Course</mat-checkbox>
                                        </div>
                                        <div class="row">
                                            <!-- course -->
                                            <div class="col-md-4">
                                                <!-- <mat-form-field appearance="legacy">
                                                    <mat-label>Choose Course</mat-label>
                                                    <mat-select formControlName="course"
                                                        (selectionChange)="courseChange($event, index)">
                                                        <mat-option *ngFor="let i of courseList" [value]="i._id">
                                                            {{i?.name}} - <span
                                                                *ngIf="i?.courseType==1">Single</span><span
                                                                *ngIf="i?.courseType==2">Combo</span>
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field> -->

                                                <ng-select formControlName="course"
                                                    (change)="courseChange($event, index)">
                                                    <ng-option value="">Choose Course</ng-option>
                                                    <ng-option *ngFor="let i of courseList" [value]="i._id">
                                                        {{i?.name}} - <span
                                                            *ngIf="i?.courseType==1">Single</span><span
                                                            *ngIf="i?.courseType==2">Combo</span>
                                                    </ng-option>
                                                </ng-select>
                                            </div>
                                            <!-- demo by -->
                                            <div class="col-md-4">
                                                <!-- <mat-form-field appearance="legacy">
                                                    <mat-label>Demo By</mat-label>
                                                    <mat-select formControlName="enquiryTakenBy">
                                                        <mat-option *ngFor="let i of employeeList" [value]="i._id">
                                                            {{i?.name}} - {{i?.email}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field> -->
                                                <!-- <ng-select formControlName="enquiryTakenBy">
                                                    <ng-option value="">Demo By</ng-option>
                                                    <ng-option *ngFor="let i of employeeList" [value]="i._id">
                                                        {{i?.name}} - {{i?.email}}
                                                    </ng-option>
                                                </ng-select> -->
                                                <ng-select
                                                [multiple]="true"
                                                [closeOnSelect]="false"
                                                [searchable]="true"
                                                placeholder="Select Person"
                                                formControlName="enquiryTakenBy"
                                                [dropdownPosition]="'top'" >

                                                <ng-option value="" selected disabled>Choose</ng-option>
                                                <ng-option *ngFor="let i of employeeList" [value]="i._id">
                                                    {{i?.name}}
                                                </ng-option>
                                            </ng-select>
                                            </div>
                                            <!-- duration -->
                                            <div class="col-md-4 mt-3">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Duration</mat-label>
                                                    <input matInput placeholder="Duration"
                                                        formControlName="duration" readonly />
                                                    <mat-error
                                                        *ngIf="admissionForm.get('duration')?.hasError('required')">
                                                        Please enter Duration.
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <!-- course fee -->
                                            <div class="col-md-4">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Course Fee</mat-label>
                                                    <input type="number" matInput placeholder="Fee"
                                                        formControlName="fee" (keyup)="getTotal()" />
                                                    <mat-error
                                                        *ngIf=" admissionForm.get('fee')?.hasError('required') || admissionForm.get('fee')?.hasError('fee')">
                                                        Please enter Fee.
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <!-- minimum registration fee -->
                                            <div class="col-md-4">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Minimum Registration Fee</mat-label>
                                                    <input type="number" matInput
                                                        placeholder="Minimum Registration Fee"
                                                        formControlName="minimumRegistrationFee" (keyup)="getTotal()" />
                                                    <mat-error
                                                        *ngIf="admissionForm.get('minimumRegistrationFee')?.hasError('required')">
                                                        Please enter minimum registration.
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <!-- discount -->
                                            <div class="col-md-4">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Discount</mat-label>
                                                    <input type="number" matInput placeholder="Discount on course"
                                                        formControlName="discount" (keyup)="getTotal()" />

                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="type=='Add'">
                          <div class="row" *ngIf="isCourseSelected">
                              <div class="col-md-3">
                                  <section class="example-section">
                                      <mat-form-field appearance="legacy">
                                          <mat-label>Total Fee Applicable</mat-label>
                                          <input matInput placeholder="Fee Applicable"
                                              formControlName="totalFeesApplicable" readonly />
                                      </mat-form-field>
                                  </section>
                              </div>
                              <div class="col-md-3">
                                  <section class="example-section">
                                      <mat-form-field appearance="legacy">
                                          <mat-label>Total Discount</mat-label>
                                          <input matInput placeholder="Total Discount" formControlName="discount"
                                              (blur)="checkRegistration()" readonly/>
                                          <mat-error *ngIf="admissionForm.get('discount')?.hasError('required')">
                                              Please enter discount.
                                          </mat-error>
                                      </mat-form-field>
                                  </section>
                              </div>

                              <div class="col-md-3">
                                  <section class="example-section">
                                      <mat-form-field appearance="legacy">
                                          <mat-label>Total Registration Fee</mat-label>
                                          <input matInput placeholder="Total Registration Fee"
                                              formControlName="totalRegistrationFee" (blur)="checkRegistration()" readonly />
                                          <mat-error
                                              *ngIf="admissionForm.get('totalRegistrationFee')?.hasError('required')">
                                              Please enter total Registration Fee.
                                          </mat-error>
                                      </mat-form-field>
                                  </section>
                              </div>
                              <div class="col-md-3">
                                  <section class="example-section">
                                      <mat-form-field appearance="legacy">
                                          <mat-label>Registration Fee Paid</mat-label>
                                          <input matInput placeholder="Registration Fee Paid"
                                              formControlName="registrationFeePaid" (keyup)="checkRegistration()" type="number"/>
                                          <mat-error
                                              *ngIf="admissionForm.get('registrationFeePaid')?.hasError('required')">
                                              Please enter Registration Fee Paid.
                                          </mat-error>
                                      </mat-form-field>
                                  </section>
                              </div>

                              <div class="col-md-3">
                                  <section class="example-section">
                                      <mat-form-field appearance="legacy">
                                          <mat-label>Total Installments</mat-label>
                                          <input type="number" matInput placeholder="Total Installments"
                                              formControlName="totalInstallments" />
                                          <mat-error *ngIf="admissionForm.get('totalInstallments')?.hasError('required')">
                                              Please enter total Installments.
                                          </mat-error>
                                      </mat-form-field>
                                  </section>
                              </div>
                              <div class="col-md-3">
                                  <section class="example-section">
                                      <mat-form-field appearance="legacy">
                                          <mat-label>Choose Start date</mat-label>
                                          <input matInput [matDatepicker]="picker1" formControlName="courseStartDate">
                                          <mat-hint>MM/DD/YYYY</mat-hint>
                                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                          <mat-datepicker #picker1></mat-datepicker>
                                      </mat-form-field>
                                  </section>
                              </div>
                              <div class="col-md-3">
                                  <section class="example-section">
                                      <mat-form-field appearance="legacy">
                                          <mat-label>Payment Method</mat-label>
                                          <mat-select formControlName="paymentMethod">
                                              <mat-option value="Cash"> Cash </mat-option>
                                              <mat-option value="Online"> Online </mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                  </section>
                              </div>
                              <div class="col-md-3">
                                  <section class="example-section">
                                      <mat-form-field appearance="legacy">
                                          <mat-label>Payment Remarks</mat-label>
                                          <input type="text" matInput placeholder="Payment Remarks"
                                              formControlName="remarks" />
                                      </mat-form-field>
                                  </section>
                              </div>
                              <div class="col-md-3">
                                Collected By:
                                <ng-select formControlName="collectedBy">
                                  <ng-option value="">Collected By</ng-option>
                                  <ng-option *ngFor="let i of employeeList" [value]="i._id">
                                      {{i?.name}} - {{i?.email}}
                                  </ng-option>
                              </ng-select>
                              </div>
                              <div class="col-3 d-flex flex-column">
                                <mat-label class="my-2">Receipt Type</mat-label>
                                <mat-radio-group aria-label="Receipt Type" formControlName="receiptType">
                                  <mat-radio-button id="receipt-computerized" [value]="0">Computerized</mat-radio-button>&nbsp;&nbsp;
                                  <mat-radio-button id="receipt-manual" [value]="1">Manual</mat-radio-button>
                                </mat-radio-group>
                              </div>

                              <div class="col-3 d-flex flex-column" *ngIf="this.admissionForm.value.receiptType==1">
                                <mat-label>Receipt Reference No.</mat-label>
                                <mat-form-field appearance="legacy">
                                  <input matInput placeholder="Manual Receipt Number" formControlName="manualReceiptNumber" />
                                </mat-form-field>
                              </div>
                          </div>
                          <button class="btn btn-primary d-block m-auto" (click)="calculateFee()" tabindex="1">
                              Calculate Fee
                          </button>
                          <div class="mt-2" formArrayName="installments">
                              <div class="" *ngFor="let i of installments.controls; let index = index"
                                  [formGroupName]="index">

                                  <div class="row">
                                      <div class="col-md-4">
                                          <mat-form-field appearance="legacy">
                                              <mat-label>Installment Number</mat-label>
                                              <input matInput placeholder="Installment Count"
                                                  formControlName="installmentNo" readonly />
                                          </mat-form-field>
                                      </div>
                                      <div class="col-md-4">
                                          <mat-form-field appearance="legacy">
                                              <mat-label>Amount</mat-label>
                                              <input matInput placeholder="Amount" formControlName="amountToBePaid" />
                                              <mat-error
                                                  *ngIf="admissionForm.get('amountToBePaid')?.hasError('required')">
                                                  Please enter Amount.
                                              </mat-error>
                                          </mat-form-field>
                                      </div>
                                      <div class="col-md-4 d-flex">
                                        <label> Pay Month</label>
                                        <select formControlName="installmentMonth" class="form-control">
                                          <ng-container *ngFor="let i of monthArray">
                                              <option [value]="i?.monthIndex">{{i?.monthName}}</option>
                                          </ng-container>
                                        </select>
                                  </div>
                                  </div>
                              </div>
                          </div>
                    </ng-container>
                    <button class="btn btn-primary d-block m-auto" *ngIf="showSave" (click)="submit()" tabindex="1"
                        [disabled]="admissionForm.invalid">
                        {{ type }} Admission
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
